/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.navmenutop {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.nav-button {
  background: none;
  border: none;
  margin: 0;
  padding: 0 15px;
  font-size: 16px;
  cursor: pointer;
  color: #8C8D91;
}

.divider {
  width: 1px;
  height: 65px;
  background-color: #ECECF1;
  margin: 0 10px;
}

.profile-button {
  display: flex; /* Usamos flexbox para alinear los elementos */
  align-items: center; /* Alinea los elementos verticalmente al centro */
  padding: 0 50px;
}

.profile-icon-svg {
  width: 15px; /* Ajusta el tamaño del icono según sea necesario */
  height: 15px;
  margin: 0 7px 3px 0; /* Espacio entre el icono y el texto */
}
.profile-text {
  margin-left: 5px;
}
