.sidemenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100%;
  }
  
  .logo {
    width: 163px;
    margin-top: 30px;
    margin-bottom: 100px;
  }
  
  .sidemenu button {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: transparent;
    text-align: right;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin: 0 30px 10px 0;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    color: #F0871B 
  }
  