.Post {
    width: 90%;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #DDDEDF;
    margin: 20px auto;
    box-shadow: 0px 0px 5px rgba(134, 134, 134, 0.1);
}

.headPost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ECECF1;
    height: 44px;
    padding: 0 10px;
}

.feedContainer {
    width: 100%;
    display: flex;
    align-items: center;
}

.feedRoute {
    display: flex;
    align-items: center;
}

.feed {
    color: #304C70;
    font-weight: 500;
}

.subfeed {
    color: #7598C4;
    font-weight: 500;
}

.timeContainer {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.feedIcon,
.feed,
.arrow,
.subfeed,
.timeIcon,
.time {
    margin: 0 3px 0 4px;
}

.time,
.timeIcon {
    font-size: 14px;
    font-weight: 300;
    color: #49494F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PostTitle {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #ECECF1;
}

.Title {
    font-size: 24px;
    font-weight: 500;
    color: #000000;
}

.logoTitle {
    padding-right: 20px;
}

.NewsBlock {
    padding: 30px 30px 0 30px;
}

.NewsText {
    font-size: 18px;
    font-weight: 300;
    color: #49494F;
    line-height: 1.3;
    margin-bottom: 20px;
}

.NewsImage {
    position: relative;
    width: 100%;
    height: 295px;
    overflow: hidden;

}

.newsImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.overlay {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block1 {
    display: flex;
    width: 100%;
    align-items:first baseline;
}

.authBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-top: 20px;
}

.authPhoto {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-color: var(--blueBrand); /* Backup color */
}

.nameAndCorp {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30%;
    background-color: var(--orangeBrand);
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-style: italic;
}

.block2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    background-color: var(--blueBrand);
    width: 100%;
    height: 30%;
}

.BottomPost {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0 20px 28px;
}

.like,
.save {
    display: flex;
    align-items: center;
    padding-right: 50px;
    cursor: pointer;
    transition: color 0.3s;
    color: inherit;
}

.likeIcon img,
.saveIcon img {
    height: 20px;
    transition: fill 0.3s;
    padding-right: 10px;
}

.likeText,
.saveText {
    padding-bottom: 10px;
}

.like:hover,
.save:hover {
    color: red;
}

.like.active,
.save.active {
    color: green;
}

.filter {
    cursor: pointer;
}
